html {
  background: rgb(117, 138, 230);
  transition: all 50s;
}

html:hover {
  background: rgb(35, 53, 154);
  transition: all 50s;
}

body {
  background: whitesmoke;
  text-align: center;
  margin: 25px auto;
  font-family: Advent Pro;
  letter-spacing: 2px;
  width: 970px;
  padding: 10px 2px;
  border-radius: 2px;
  border: solid 17px #a5c5f2;
  box-shadow: 0px 0px 30px rgb(0, 204, 255);
}

/* Box Shadow */

h1 {
  margin: auto;
  font-size: 57px;
  color: rgb(2, 26, 137);
  width: 500px;
  border: 2px black solid ;
  box-shadow: 0px 0px 10px rgba(0, 34, 255, 0.132) ;
}

h2 {
  font-size: 42px;
  color: rgba(121, 43, 43, 0.962);
}

hr {
  border: solid rgb(13, 37, 73) 1px;
  width: 900px;
}

.bold {
  font-weight: bold;
}

#bu {
  background: goldenrod;
}

#sub{
  font-size: 7px;
}

.italic{
  font-style: italic;
}

.ni{
  font-style: normal;
}

.bh,
.bd {
  border: 2px solid black;
  padding: 5px 10px;
  width: 290px;
}

td {
  padding: 5px 10px;
}

.bh {
  background: grey;
}

table {
  margin: auto;
  width: 900px;
  padding: 20px 2px;
}

input {
  width: 50px;
}

.fm {
  width: 200px;
}

img {
  width: 100px;
}

.n {
  width: 35px;
}

button {
  transition: all 0.5s;
}

button:hover {
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
}

td:hover {
  border: solid 1px red;
  transition: all 10ms;
}

